<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title><%= title %></title>

  <!-- CSS  -->
  <link href="http://cdn.bootcss.com/material-design-icons/2.0.0/iconfont/style.min.css" rel="stylesheet">
  <link href="/bower_components/Materialize/dist/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div class="container">
  <br>
  <div class="row">
      <div class="col s4">排名</div>
      <div class="col s4 center">名字</div>
      <div class="col s4 "><div class="right">准确率</div></div>
  </div>
  <% users.forEach(function(u,i){ %>
    <div class="row">
      <div class="col s2"><%=i+1%></div>
      <div class="col s8 center"><a class = "center" href="/guesses/<%= u.id %>"><%= u.username %></a></div>
      <div class="col s2"><div class="left"><%= u.rate %></div></div>
    </div>
  <% });%>
  </div>
  <!--  Scripts-->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/Chart.js/Chart.min.js"></script>
  <script src="/bower_components/Materialize/dist/js/materialize.min.js"></script>
  <script src="/js/init.js"></script>
  </body>
</html>
